* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: url("../images/bg-img3.jpg") no-repeat center fixed;
  background-size: cover;
}

.main-container {
  background: rgba(0, 7, 63, 0.8);
}

section {
  padding: 6rem;
}

a {
  text-decoration: none;
  color: #d86e0b;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
  color: white;
  text-align: justify;
}

img {
  width: 90%;
  border-radius: 50%;
  padding-right: 1rem;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-heading h1 {
  font-size: 4rem;
  letter-spacing: 2px;
  color: #d86e0b;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
  text-shadow: 0 0 4px black;
}

.section-heading h6 {
  font-size: 2rem;
  color: white;
  font-weight: 300;
  text-shadow: 0 0 4px black;
}

.section-heading h1::before,
.section-heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h1::before {
  width: 40%;
  height: 3px;
  border-radius: 0.8rem;
}

.section-heading h1::after {
  background-color: rgba(216, 110, 11, 0.75);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
}

.has-margin-right {
  margin-right: 5rem;
}

header {
  width: 100%;
  height: 100vh;
}

header .top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background-color: #12163a;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  -webkit-transition: all 650ms cubic-bezier(1, 0, 0, 1);
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

header .top-nav .nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-nav li {
  margin: 0 2rem;
}

header .top-nav .nav-link {
  font-family: "Lato", sans-serif;
  font-size: 4rem;
  padding: 1rem;
}

header .top-nav .nav-link:hover,
header .top-nav .nav-link:focus {
  color: white;
}

header .top-nav.open {
  top: 0;
  border-radius: initial;
}

header .menu-toggler {
  position: fixed;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  -webkit-transition: -webkit-transform 650ms ease-out;
  transition: -webkit-transform 650ms ease-out;
  transition: transform 650ms ease-out;
  transition: transform 650ms ease-out, -webkit-transform 650ms ease-out;
}

header .menu-toggler .bar {
  background: white;
  width: 100%;
  height: 4px;
  border-radius: 0.8rem;
}

header .menu-toggler .bar.half {
  width: 100%;
}

header .menu-toggler .bar.start {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

header .menu-toggler .bar.end {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

header .menu-toggler.open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .open .bar.end {
  width: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: rotate(-450deg) translateX(-0.8rem);
          transform: rotate(-450deg) translateX(-0.8rem);
}

header .open .bar.start {
  width: 50%;
  -webkit-transform: rotate(-450deg) translateX(0.8rem);
          transform: rotate(-450deg) translateX(0.8rem);
}

header .landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

header .landing-text h1 {
  font-size: 15rem;
  font-family: "Dancing Script", cursive;
  color: #d86e0b;
  padding: 1rem;
  text-shadow: 0 0 4px black;
}

header .landing-text h1::before,
header .landing-text h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
  bottom: 4.9rem;
}

header .landing-text h1::before {
  width: 40%;
  height: 3px;
  border-radius: 0.8rem;
  width: 60%;
  height: 5px;
}

header .landing-text h1::after {
  background-color: rgba(216, 110, 11, 0.75);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
  width: 2.5rem;
  height: 2.5rem;
  bottom: 3.9rem;
}

header .landing-text h6 {
  font-size: 3rem;
  font-weight: 300;
  color: white;
  text-shadow: 0 0 4px black;
}

#about {
  background: rgba(0, 0, 0, 0.25);
  height: auto;
}

.about .container {
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .container .profile-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about .container .about-details {
  margin-top: 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about .container .about-details .about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about .container .about-details .about-heading #about-text {
  text-align: justify;
}

.about .container .about-details .about-heading h1 {
  font-size: 10rem;
  color: white;
  font-family: "Lato", sans-serif;
  opacity: 0.2;
  text-shadow: 0 0 4px black;
}

.about .container .about-details .about-heading h6 {
  font-size: 3rem;
  font-weight: 300;
  color: #d86e0b;
}

.about .container .about-details .social-media {
  margin-top: 5rem;
}

.about .container .about-details .social-media .nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .container .about-details .social-media i {
  font-size: 5rem;
  -webkit-transition: color 650ms;
  transition: color 650ms;
  padding: 2rem;
}

.about .container .about-details .social-media .fa-github-square:hover {
  color: white;
}

.about .container .about-details .social-media .fa-linkedin-square:hover {
  color: white;
}

#services {
  height: auto;
}

.my-skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}

.my-skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-skills .skill h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 2rem 0;
  color: #d86e0b;
  text-shadow: 0 0 4px black;
}

.my-skills .skill .icon-container {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  border: 2px solid #d86e0b;
  background-color: white;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-skills .skill .icon-container i {
  color: #d86e0b;
  font-size: 5rem;
  margin: auto;
}

#portfolio {
  background: rgba(0, 0, 0, 0.25);
  height: auto;
}

.portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

.portfolio-item i {
  color: #d86e0b;
  font-size: 5rem;
  margin: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.portfolio-item .portfolio-description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.portfolio-item .portfolio-description h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 2rem 0;
  color: #d86e0b;
  text-shadow: 0 0 4px black;
}

.portfolio-item .portfolio-description .view-github {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  -webkit-transition: color 650ms;
  transition: color 650ms;
  text-shadow: 0 0 4px black;
}

.portfolio-item .portfolio-description .view-github:hover {
  color: white;
}

#experience {
  height: auto;
}

.timeline ul {
  border-left: 5px solid #12163a;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

.timeline ul h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 2rem 0;
  color: #d86e0b;
  text-shadow: 0 0 4px black;
  margin: 2rem 0 0.5rem 0;
}

.timeline ul .date {
  border-bottom: 1px solid rgba(216, 110, 11, 0.4);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline ul .date:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline ul .date::before,
.timeline ul .date::after {
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.timeline ul .date::before {
  content: attr(data-date);
  left: -21rem;
  text-align: right;
  min-width: 12rem;
  font-size: 1.5rem;
  color: white;
}

.timeline ul .date::after {
  content: "";
  -webkit-box-shadow: 0 0 0 4px #1f1f1f;
          box-shadow: 0 0 0 4px #1f1f1f;
  border-radius: 100%;
  left: -6rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #d86e0b;
}

#contact {
  background: rgba(0, 0, 0, 0.25);
  height: auto;
}

form {
  width: 70%;
  margin: 0 auto;
}

form label {
  font-size: 1.7rem;
  color: #d86e0b;
  text-shadow: 0 0 4px black;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  margin-top: 5px;
  border: none;
  outline-color: #d86e0b;
  border-radius: 0.5rem;
}

form input[type="submit"] {
  width: initial;
  background-color: #d86e0b;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: background-color 650ms;
  transition: background-color 650ms;
}

form input[type="submit"]:hover {
  background-color: white;
  color: #1f1f1f;
}

.copyright {
  width: 100%;
  text-align: center;
  background-color: #05060f;
  padding: 1.5rem 0;
  position: relative;
}

.copyright p {
  font-size: 1.6rem;
  text-align: center;
}

.copyright .copyright-span {
  color: #d86e0b;
}

.copyright .up {
  position: fixed;
  bottom: 7rem;
  right: 5rem;
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.copyright .up i {
  color: #1f1f1f;
  font-size: 2rem;
  margin: auto;
}

.copyright .up:hover {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(216, 110, 11, 0.99);
            box-shadow: 0 0 0 0 rgba(216, 110, 11, 0.99);
  }
  70% {
    -webkit-box-shadow: 0 0 0 2rem rgba(216, 110, 11, 0);
            box-shadow: 0 0 0 2rem rgba(216, 110, 11, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(216, 110, 11, 0);
            box-shadow: 0 0 0 0 rgba(216, 110, 11, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(216, 110, 11, 0.99);
            box-shadow: 0 0 0 0 rgba(216, 110, 11, 0.99);
  }
  70% {
    -webkit-box-shadow: 0 0 0 2rem rgba(216, 110, 11, 0);
            box-shadow: 0 0 0 2rem rgba(216, 110, 11, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(216, 110, 11, 0);
            box-shadow: 0 0 0 0 rgba(216, 110, 11, 0);
  }
}

@media screen and (max-width: 768px) {
  p {
    font-size: 1.6rem;
  }
  header .landing-text h1 {
    font-size: 9rem;
  }
  header .menu-toggler {
    width: 3rem;
    height: 2rem;
    top: 4rem;
    right: 4rem;
  }
  header .landing-text h6 {
    font-size: 3rem;
  }
  header .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .nav-list li {
    margin: 2rem 0;
  }
  header .top-nav .nav-link {
    font-size: 3rem;
  }
  img {
    width: 350px;
  }
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .container .about-details .about-heading h1 {
    font-size: 8rem;
  }
  .my-skills .skill .icon-container {
    width: 7rem;
    height: 7rem;
  }
  .my-skills .skill .icon-container i {
    font-size: 4rem;
  }
  .copyright .up {
    width: 3.5rem;
    height: 3.5rem;
    right: 4rem;
  }
  .timeline ul {
    margin: 0 0 0 auto;
  }
  form {
    width: 100%;
  }
  form label {
    font-size: 1.7rem;
  }
  form input[type="submit"] {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  img {
    width: 350px;
  }
  p {
    font-size: 1.5rem;
  }
  header .menu-toggler {
    width: 2.5rem;
    height: 2rem;
    top: 3rem;
    right: 1.5rem;
  }
  header .landing-text h1 {
    font-size: 8rem;
  }
  header .landing-text h1::before,
  header .landing-text h1::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
    bottom: 3.9rem;
  }
  header .landing-text h1::before {
    width: 40%;
    height: 3px;
    border-radius: 0.8rem;
    width: 90%;
    height: 4px;
  }
  header .landing-text h1::after {
    background-color: rgba(216, 110, 11, 0.75);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
    width: 1.5rem;
    height: 1.5rem;
    bottom: 3.4rem;
  }
  header .landing-text h6 {
    font-size: 2rem;
  }
  header .nav-list li {
    margin: 2rem 0;
  }
  header .top-nav .nav-link {
    font-size: 3rem;
  }
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .container .about-details .about-heading h1 {
    font-size: 8rem;
  }
  .about .container .about-details .about-heading h6 {
    font-size: 2.5rem;
  }
  .portfolio-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-item i {
    font-size: 6rem;
    margin: 0;
  }
  .has-margin-right {
    margin-right: 0;
  }
  .timeline ul .date::before {
    font-size: 1.3rem;
  }
  .timeline ul {
    width: 80%;
    padding: 1rem;
  }
  .timeline ul .date::before {
    left: -15rem;
  }
  .timeline ul .date::after {
    left: -1.8rem;
    height: 1rem;
    width: 1rem;
  }
  form {
    width: 100%;
  }
  form label {
    font-size: 1.7rem;
  }
  form input[type="submit"] {
    font-size: 1.6rem;
  }
  .copyright .up {
    width: 3rem;
    height: 3rem;
    bottom: 3rem;
    right: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .container {
    width: 100%;
  }
  section {
    padding: 4rem;
  }
  img {
    width: 300px;
  }
  p {
    font-size: 1.5rem;
  }
  header .menu-toggler {
    width: 2.5rem;
    height: 2rem;
    top: 3rem;
    right: 1.5rem;
  }
  header .landing-text h1 {
    font-size: 8rem;
  }
  header .landing-text h1::before,
  header .landing-text h1::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
    bottom: 3.9rem;
  }
  header .landing-text h1::before {
    width: 40%;
    height: 3px;
    border-radius: 0.8rem;
    width: 90%;
    height: 4px;
  }
  header .landing-text h1::after {
    background-color: rgba(216, 110, 11, 0.75);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
    width: 1.5rem;
    height: 1.5rem;
    bottom: 3.4rem;
  }
  header .landing-text h6 {
    font-size: 2rem;
  }
  header .nav-list li {
    margin: 2rem 0;
  }
  header .top-nav .nav-link {
    font-size: 3rem;
  }
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .container .about-details .about-heading h1 {
    font-size: 8rem;
  }
  .about .container .about-details .about-heading h6 {
    font-size: 2.5rem;
  }
  .portfolio-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .portfolio-item i {
    font-size: 6rem;
    margin: 0;
  }
  .has-margin-right {
    margin-right: 0;
  }
  form {
    width: 100%;
  }
  form label {
    font-size: 1.7rem;
  }
  form input[type="submit"] {
    font-size: 1.6rem;
  }
  .copyright .up {
    width: 3rem;
    height: 3rem;
    bottom: 3rem;
    right: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */